apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

metadata:
  name: grafana

resources:
  - configmap.yaml
  - deployment.yaml
  - service.yaml
  - pvc.yaml

# Common labels for Grafana components
commonLabels:
  app.kubernetes.io/name: grafana
  app.kubernetes.io/instance: grafana
  app.kubernetes.io/component: visualization
  app.kubernetes.io/part-of: monitoring

namespace: monitoring
