apiVersion: v1
kind: ConfigMap
metadata:
  name: app-config
  labels:
    app: video-meta-app
    app.kubernetes.io/name: video-meta-app
    app.kubernetes.io/component: config
data:
  NODE_ENV: "production"
  NEXT_TELEMETRY_DISABLED: "1"