apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - deployment.yaml
  - service.yaml
  - hpa.yaml
  - configmap.yaml

# Images will be patched by overlays
images:
  - name: ghcr.io/video-meta-generate
    newTag: latest