apiVersion: v1
kind: Service
metadata:
  name: video-meta-app
  labels:
    app: video-meta-app
    app.kubernetes.io/name: video-meta-app
    app.kubernetes.io/component: app
spec:
  type: ClusterIP
  ports:
    - port: 3000
      targetPort: http
      protocol: TCP
      name: http
  selector:
    app: video-meta-app